.headerdesign {
    padding-right: 70px;
}

a:link {
    text-decoration: none;
    font-size: 15px;
    padding: 12px;
  }

  a:hover {
    text-decoration: underline;
    font-size: 17px;
  }

.design{
    background-color: #3EC1CA;
    height: auto;   
    padding-top: 80px;
}

.step{
    padding-top: 60px;
}

.testpara{
    font-size: 20px;
    text-align: center;

}

.testimon img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
 


.testimona{
      color: black; font-size: 45px; 
      text-decoration: underline;
      font-weight:bolder; 
      padding-left: 99px;
      padding-top: 320px;
}

.setting {
    height: 600px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.setting img{
    height: 600px;
      width: 100%;
}

.order img{
  width: 100%;
}

.order{
    padding-top: 90px;
    padding-bottom: 70px;
}

.footer{
    width: 100%;
    background-color: gray;
    color: whitesmoke;
    padding: 45px;
}